textarea {
	width:800px;
	height:100px;
}

span {text-decoration: underline; color: blue; cursor:pointer;}
h3 {text-decoration: underline; color: blue; cursor:pointer;}

A:link,A:visited {
	color: blue;
	text-decoration: underline;
}

A:hover, A:active {
	COLOR: #ff7f24;
	text-decoration: underline;
}


li.pass { color: green; }
li.fail { color: red; }
b {color: blue}

table{
	border-collapse: collapse;
	border: none;
}

td{
	border: solid #000 1px;
}
